body {
    font-family: 'Garamond','HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue';
    background-image: url('linen.jpg');
}

a, h1, h2 {
    color: #FFFFFF;
}

h1 {
    font-family: 'Helvetica', 'Arial';
    border-bottom: 2px solid #eee;

}

h2 {
    font-family: 'Helvetica';
    font-size: 1.5em;
}

input[type=text] {
    border: 2px solid #ccc;
    padding: 5px;
    font-size: 1em; 
}
p {
  font-size: 16px;
  color: #FFFFFF;
}

.page {
   margin: 2em auto;
   width: 85%;
   border: 5px solid #ccc;
   padding: 0.8em;
   background: white;
}

.entries {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.entry-title {
    margin-bottom: 0;
}

.entry-info {
    margin-top: 0; 
}

div.card
{
/*width: 25em;   width of each container
height: 32em;*/ /* height of each container*/

width: 30%;
height: 70%;
position: absolute; /* instructure each container to obey the position absolutely*/
float: left; /* float all the container so that they overlapped each other*/
bottom: 1%;
left: 34%;  /* align them to the center of the screen */
border: #000 solid 7px; /* give it a border to make it look nice*/
border-radius: 15px;
-moz-border-radius: 15px;
word-wrap: break-word;
overflow-y: auto;
}

div#box4
{
background-color: #800000;/*marron*/
color: #FFFFFF;
}
div#box1
{
background-color: #3B5323;/*green*/
color: #FFFFFF;
}
div#box2
{
background-color: #104E8b;/*blue*/
color: #FFFFFF;
}
div#box3
{
background-color: #4b0082;/*purple*/
color: #FFFFFF;
}
div#box0
{
background-color: #cd6600;/*orange*/
color: #FFFFFF;
}
div#box5
{
background-color: #66A666;/*green*/
color: #FFFFFF;
}
div#box6
{
background-color: #E37373;/*pink*/
color: #FFFFFF;
}
div#box7
{
background-color: #B2B2B2;/*grey*/
color: #FFFFFF;
}
div#box8
{
background-color: #A51515;/*red*/
}


div.test
{
  background-color: #FFFFFF;
width: 20%;  /* width of each container*/
height: 100%; /* height of each container*/
position: fixed; /* instructure each container to obey the position absolutely*/
float: left; /* float all the container so that they overlapped each other*/
right: 0%;  /* align them to the center of the screen */
top: 0px;
 background-image: url('linen2.png');
  border-left: thin double #FFFFFF;
  border-left-style: solid;
  z-index: -30;
}
div.descrip
{
  width: 100%;
  bottom: 2%;
  text-align: center;
}
ul, li{
    list-style: square url("linen3.png");

}
.saved{

}

.subcard.true{
	border: 50px solid;
}
