<!doctype html>
<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Raleway:100,400' rel='stylesheet' type='text/css'>
	<title>Pomona Shuffle</title>
	<link rel="stylesheet" type="text/css" href="static/styles.css">

	


</head>
<body>

<div>
    <div id="fb-root" ></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	
	<div style="color:#FFFFFF; position: absolute; float:left; vertical-align: right; z-index: 100;" class="fb-like" data-href="http://www.pomonashuffle.com" data-send="true" data-width="450" data-show-faces="true" data-font="arial" ></div>
	<div style=" float: right; font-famiy: 'Raleway', 'sans-serif'; font-weight: 400; color: #FFFFFF;"> WHAT IS THIS? </div>

	<div><h1 style= "position:relative; margin:0; padding:0; border:0; font-size:3em; text-shadow: black 0.1em 0.1em 0.2em; border-bottom: none; left: 35%; top: 0px;" ><span style="font-family:'Raleway',sans-serif; font-weight: 400;" ><span style="font-family:'Raleway' sans-serif; font-weight: 100;">Pomona</span>Shuffle</span></h1></div>


</div>

	



	<div class='deck'>
		{% for i in range(0,10) %}
			<div class='card ' id='box{{ i % 5 }}'>
				<div class='subcard {{course_list[i]['favorite']}}'>
				<h1 style="text-align:center;">{{course_list[i]['coursename']}}</h1>
				<h3 style="position: relative; text-align:center;">{{course_list[i]['profs']}}</h3>
				<p style="position: absolute; left: 10px; right:10px;">{{course_list[i]['description']}}</p>
			</div>
			</div>
		{% endfor %}
	</div>
	
<!-- 
	<div class = "test" style="font-family:Futura; text-shadow: black 0.1em 0.1em 0.2em; border-bottom: none; color: #FFFFFF; text-align:center; font-size: 25px;">
		Favorites
		<ul id="saveList">
			<li>
			</li>
		</ul>

	</div> -->
	
	<div class="descrip" style = " right: 10%; bottom: 3%; font-family:'Raleway',serif; font-weight: 400; color: #FFFFFF; text-align: center;"><center style = "text-shadow: black 0.1em 0.1em 0.2em;"><footer>Click on each card to scroll through your current deck. Press space to get a new deck! </footer></center></div>
	<div class="descrip" style = " right: 10%; bottom: 3%; font-family:'Raleway',serif; font-weight: 400; color: #FFFFFF; text-align: center;"><center style = "text-shadow: black 0.1em 0.1em 0.2em;"><footer>A web application by Hong Suh '16, Ryan Luo '16, Mauricio Molina '15, and Aloke Desai '16 </footer></center></div>

	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  	<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
	
		<script>

		
		$(function(){
			$("#saveList").sortable({tolerance: "intersect",distance: 10,over: function(e,ui){
				var pickColor = Math.floor(Math.random()*5);
				var colorArray = ["#800000","#3B5323","#104E8b","#4b0082"];
				ui.item.height("1.2em");
				ui.item.find('h3,p,li').hide();
				ui.item.find('h1').css("font-size",12);
				ui.item.find('h1').css("marginTop",0);
	  			ui.item.css("border","#000 solid 5px");
	  			ui.item.width("10em");
	  			ui.item.css("float","none");
	  			ui.item.css("position","static");
	  			ui.item.css("background-color",colorArray[pickColor]);
	  			ui.item.toggleClass(".saved");
	  			ui.item.find('h1').css("border-bottom","0px")
	  			//alert(_id);
	  			$.ajax( "/class/setfavorite/" + _id);

			}});
		});


		
		// $(function(){
	 //  		$(".card").draggable({containment: "window",connectToSortable: "#saveList",distance:50, revert: true});
	 //  	});
		$(document).ready(function(){
			$(".page").hide();
			$("#load").show();	
		});
		$(document).keyup(function(e){
			if(e.keyCode === 32){
				$(".page").show();
				$("#load").hide();
			}
		});
		
		
		$(function(){
			$("#deal").click(function(){
				for(var i = 1;i<21;i++){
					if(i%2===0){var order=25;}else{var order=45;}
					$("div.deck div:nth-child("+i+")").animate({left: '+=0px'},100).delay(15*i);
					$("div.deck div:nth-child("+i+")").animate({left: ''+order+'%'},500, 'easeOutBack',function(){i--;$("div.deck div:nth-child("+i+")").css('z-index', -i)});
				}
			});
		});$(function(){
			var i = 0;
			$('.card').click(function(){
				$(this).animate({left: 20+'%', marginTop: 2+'em'},500, 'easeOutBack',function(){i--;$(this).css('z-index', i)}).animate({left: 34+'%', marginTop: 0+'em'},500, 'easeOutBack');
			});
		});
		$(document).keyup(function(e){
			if(e.keyCode === 32){
				$(function(){
				for(var i = 1;i<11;i++){
					var order = Math.floor(Math.random()*20-20);
					$("div.deck div:nth-child("+i+")").animate({right: 42.5+'%'},100).delay(40*i);
					$("div.deck div:nth-child("+i+")").animate({right: 55+'%', marginTop: 2+'em'},500, 'easeOutBack',function(){i--;$("div.deck div:nth-child("+i+")").css('z-index', i)}).animate({right: 42.5+'%', marginTop: 0+'em'},500, 'easeOutBack');
					$("div.deck div:nth-child("+i+")").css('z-index', -i);
				}
			}).delay(400);
			}
			$(function(){
				$(".card").animate({right:42.5+'%'},100,'easeOutBack',function(){
					location.reload();
				});
			});

		});
		$(function(){
			$("#return").click(function(){
				for(var i = 20;i>0;i--){
					$("div.deck div:nth-child("+i+")").animate({left: '+=0px'},100).delay(15*i);
					$("div.deck div:nth-child("+i+")").animate({left: ''+555+'px', marginTop: 0+'em'},500, 'easeOutBack',function(){i++;$("div.deck div:nth-child("+i+")").css('z-index', i)});
				}
			});
		});
	</script>
</body>
</html>